{% extends './base.html' %}

{% block content %}

<div class="container text-center">
<h1> QR generator </h1>

{% load static %}
<img src="{% static 'qr_generator/20230922132819.jpg' %}" height="400" width="300">

<form action="{%  url 'qr_code' %}">
    <select name="open key">
       <option value='tx1, tx2'> 2 </option>
       <option value='tx1, tx2, tx3, tx4' selected="selected"> 4 </option>
       <option value='tx1, tx2, tx3, tx4, tx5, tx6'> 6 </option>
    </select> Открытый ключ
    <br>
    <input type="checkbox" name="tourniquet"> Жгут
    <br>
    <input type="checkbox" name="anesthesia"> Обезболивание
    <br>
    <input type="checkbox" name="antibiotic"> Антибиотик
    <br>
    <input type="checkbox" name="tranexamic acid"> Транексамовая кислота
    <br>
    <input type="checkbox" name="antiemetic"> Противорвотное
    <br>
    <input type="checkbox" name="immobilization"> Иммобилизация
    <br>
    <input type="submit" value="Сгенирировать QR code" class="btn btn-primary">
</form>

<form action="{%  url 'qrcode:magazine' %}">
    <input type="submit" value="База QR кодов">
</form>
</div>

{% endblock %}